@import "../base/typography";

@media (max-width: 767px) {
  .footer {
    background-color: #353535;
    color: white;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    &_logo {
      font-family: $fontLogo;
    }
    &_text{
        margin-bottom: 7px;
    }
    &_text i{
        margin-right: 25px;
        width: 11px;
    }
    a{
      margin-bottom: 10px;
      color: $white;
    }
  }
}
