@import "../abstracts/colors";
@import "../base/typography";

.header {
  &_logo {
    padding: 15px 0 8px 0;
    box-shadow: 0 0 16px 0 #0000002e;
    text-align: center;
    &_img {
      justify-content: center;
      width: 200px;
    }
  }

  &_content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    &_icon{
        margin-right: 15px;
        color: #353535;
    }
    &_text{
        p{
            border: none;
            background-color: #eaeaea;
            font-size: 22px;
            font-weight: 900;
            text-align: center;
            color: #353535;
        }
    }
  }
}

    // head,info
    .info {
      padding: 40px;
      text-align: center;
      background-color: $background;
      &_title {
        margin-top: 0;
        font-size: 24px;
        font-weight: bolder;
      }
      &_text {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 37px;
      }
      a{
        font-size: 15px;
      }
    }

