@import "../animations/heart-anim";

.restaurants_card_content {
  .heart-icon {
    font-size: 25px;
    margin-right: 35px;
    cursor:pointer;
    position: relative;
  }
  
  .heart-icon .full,
  .heart-icon .empty {
    position: absolute;
  }
  
  .heart-icon .full {
    display: none;
    background-image: linear-gradient(40deg, $secondary, $primary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: full-heart 400ms ease-in-out ;
    -webkit-animation: full-heart 400ms ease-in-out ;
  }
  
  .heart-icon:hover .full {
    display: block;
  }
  
  .heart-icon:hover .empty {
    display: none;
  }
  
  .heart-icon .empty {
    color: black;
  }
}
