@import "../animations/heart-anim";

.restaurants_card_content {
  .heart-icon {
    font-size: 25px;
    margin-right: 35px;
    cursor:pointer;
    position: relative;
  }
  
  .heart-icon .full,
  .heart-icon .empty {
    position: absolute;
    transition: transform 1.9s ease-in-out, opacity 2s ease-in-out;
    
  }
  
  .heart-icon .full {
    background-image: linear-gradient(35deg, $secondary, $primary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scaleX(0);
    opacity: 0;
  }
  
  .heart-icon:hover .full {
    transform: scaleX(1);
    opacity: 1;
  }
  
  .heart-icon .empty {
    color: black;
  }

  .heart-icon:hover .empty {
    opacity: 0;
  }
}
