body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
body .main-container {
  margin: 0 15px;
}
body a {
  text-decoration: none;
  color: black;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
body .main-container {
  margin: 0 15px;
}
body a {
  text-decoration: none;
  color: black;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #89c8fa;
  animation: loader 3s forwards;
  -webkit-animation: loader 3s forwards;
}
.loader h1 {
  font-size: 50px;
  font-family: "Shrikhand", cursive;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loader 3s forwards;
  -webkit-animation: loader 3s forwards;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loader_container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 10px solid;
  border-color: #9356dc #008766 #ff79da #003a68;
  animation: spinner 1s linear infinite;
  -webkit-animation: spinner 1s linear forwards;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
}

.header_logo {
  padding: 15px 0 8px 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
  text-align: center;
}
.header_logo_img {
  justify-content: center;
  width: 200px;
}
.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.header_content_icon {
  margin-right: 15px;
  color: #353535;
}
.header_content_text p {
  border: none;
  background-color: #eaeaea;
  font-size: larger;
  font-weight: 900;
  text-align: center;
  color: #353535;
}

@media (max-width: 767px) {
  .footer {
    background-color: #353535;
    color: white;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
  }
  .footer_logo {
    font-family: "Shrikhand", cursive;
  }
  .footer_text {
    margin-bottom: 7px;
  }
  .footer_text i {
    margin-right: 25px;
    width: 11px;
  }
  .footer a {
    margin-bottom: 10px;
    color: #fff;
  }
}
.header_menu_logo {
  display: grid;
  grid-template-columns: 10% 85%;
  align-items: center;
  padding: 15px 0 8px 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
  text-align: center;
}
.header_menu_logo_img {
  margin-left: 42px;
  justify-content: center;
  width: 200px;
}
.header_menu_logo i {
  font-size: 24px;
  margin-left: 17px;
}

.btn {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding: 13px 18px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.btn:hover {
  background: linear-gradient(90deg, #ff79da, #9356dc);
  opacity: 0.85;
}

@keyframes full-heart {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.restaurants_card_content .heart-icon {
  font-size: 25px;
  margin-right: 35px;
  cursor: pointer;
  position: relative;
}
.restaurants_card_content .heart-icon .full,
.restaurants_card_content .heart-icon .empty {
  position: absolute;
}
.restaurants_card_content .heart-icon .full {
  display: none;
  background-image: linear-gradient(40deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: full-heart 400ms ease-in-out;
  -webkit-animation: full-heart 400ms ease-in-out;
}
.restaurants_card_content .heart-icon:hover .full {
  display: block;
}
.restaurants_card_content .heart-icon:hover .empty {
  display: none;
}
.restaurants_card_content .heart-icon .empty {
  color: black;
}

@media (max-width: 767px) {
  .info {
    margin: 40px 0;
    text-align: center;
  }
  .info_title {
    font-size: 30px;
    font-weight: bolder;
  }
  .info_text {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 37px;
  }
  .step {
    margin-top: 25%;
  }
  .step_title {
    font-weight: 900;
    font-size: 25px;
  }
  .step .step_card {
    display: flex;
    padding: 10px 0;
  }
  .step .step_card_number {
    background-color: #9356dc;
    width: 15px;
    padding: 10px;
    text-align: center;
    -webkit-clip-path: circle(40%);
            clip-path: circle(40%);
    color: #fff;
  }
  .step .step_card_content {
    display: flex;
    width: 100%;
    margin-left: -15px;
    align-items: center;
    padding: 2px 25px;
    font-weight: bold;
    gap: 10px;
    font-size: medium;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .step .step_card_content i {
    margin-right: 15px;
    color: #7e7e7e;
    font-size: 20px;
  }
  .step .step_card_content .iconPurple {
    color: #9356dc;
  }
  .restaurants_card {
    position: relative;
    z-index: 1;
    height: auto;
    margin-bottom: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .restaurants_card_img img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 231px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
  }
  .restaurants_card_img_text {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 2;
    background-color: #99e2d0;
    color: #008766;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 9px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .restaurants_card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .restaurants_card_content_text {
    padding: 5px 15px;
  }
  .restaurants_card_content_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .restaurants_card_content_subtitle {
    margin-top: 5px;
  }
}
.commande {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px auto;
}

.retaurant_header_img {
  width: 100%;
}

.menu {
  position: relative;
  z-index: 1;
  margin-top: -50px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@keyframes full-heart {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */