@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #89c8fa;
  animation: loader 5s forwards;
  -webkit-animation: loader 5s forwards;
}
.loader h1 {
  font-size: 50px;
  font-family: "Shrikhand", cursive;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loader 5s forwards;
  -webkit-animation: loader 5s forwards;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loader_container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 10px solid;
  border-color: #9356dc #008766 #ff79da #003a68;
  animation: spinner 2s linear infinite;
  -webkit-animation: spinner 1s linear forwards;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
}

.header_logo {
  padding: 15px 0 8px 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
  text-align: center;
}
.header_logo_img {
  justify-content: center;
  width: 200px;
}
.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.header_content_icon {
  margin-right: 15px;
  color: #353535;
}
.header_content_text p {
  border: none;
  background-color: #eaeaea;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #353535;
}

.info {
  padding: 40px;
  text-align: center;
  background-color: #F6F6F6;
}
.info_title {
  margin-top: 0;
  font-size: 24px;
  font-weight: bolder;
}
.info_text {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 37px;
}
.info a {
  font-size: 15px;
}

@media (max-width: 767px) {
  .footer {
    background-color: #353535;
    color: white;
    padding: 5px 25px;
  }
  .footer_logo {
    font-family: "Shrikhand", cursive;
    font-size: medium;
  }
  .footer_info {
    display: flex;
    flex-direction: column;
  }
  .footer_info_text {
    margin-bottom: 7px;
  }
  .footer_info_text i {
    margin-right: 25px;
    width: 11px;
  }
  .footer_info a {
    margin-bottom: 10px;
    color: #fff;
  }
}
@media (min-width: 768px) {
  .footer {
    background-color: #353535;
    color: white;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  .footer_logo {
    font-family: "Shrikhand", cursive;
    font-size: large;
    padding: 5px 30px;
  }
  .footer_info {
    display: flex;
    gap: 15px;
    font-size: small;
  }
  .footer_info_text i {
    margin-right: 10px;
    width: 11px;
  }
  .footer_info a {
    color: #fff;
  }
  .footer_info a:nth-child(2) {
    margin-right: 35px;
  }
}
.header_menu_logo {
  display: grid;
  grid-template-columns: 10% 85%;
  align-items: center;
  padding: 15px 0 8px 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
  text-align: center;
}
.header_menu_logo_img {
  margin-left: 42px;
  justify-content: center;
  width: 200px;
}
.header_menu_logo i {
  font-size: 24px;
  margin-left: 17px;
}

.btn {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding: 13px 18px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.btn:hover {
  background: linear-gradient(90deg, #ff79da, #9356dc);
  opacity: 0.85;
}

@keyframes full-heart {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.heart-icon {
  font-size: 25px;
  margin-right: 35px;
  cursor: pointer;
  position: relative;
}

.heart-icon .full,
.heart-icon .empty {
  position: absolute;
  transition: transform 1.9s ease-in-out, opacity 2s ease-in-out;
}

.heart-icon .full {
  background-image: linear-gradient(35deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scaleX(0);
  opacity: 0;
}

.heart-icon:hover .full {
  transform: scaleX(1);
  opacity: 1;
}

.heart-icon .empty {
  color: black;
}

.heart-icon:hover .empty {
  opacity: 0;
}

.menu_entrees > .menu_entrees_cards,
.menu_plats > .menu_plats_cards,
.menu_desserts > .menu_desserts_cards {
  opacity: 0;
}

/* Les Entrées  */
.menu_entrees > .menu_entrees_cards {
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

/* Les plats  */
.menu_plats > .menu_plats_cards {
  animation: fadeIn 2s ease-in-out 0.5s forwards;
}

/* Les Desserts  */
.menu_desserts > .menu_desserts_cards {
  animation: fadeIn 3s ease-in-out 0.5s forwards;
}

@media screen and (max-width: 767px) {
  .step {
    width: 90%;
    margin: auto;
    padding: 0 15px;
  }
  .step_title {
    font-weight: 900;
    font-size: 25px;
  }
  .step .step_card {
    display: flex;
    padding: 10px 0;
  }
  .step .step_card_number {
    background-color: #9356dc;
    width: 15px;
    padding: 10px;
    text-align: center;
    -webkit-clip-path: circle(40%);
            clip-path: circle(40%);
    color: #fff;
  }
  .step .step_card_content {
    display: flex;
    width: 100%;
    margin-left: -15px;
    align-items: center;
    padding: 2px 25px;
    font-weight: bold;
    gap: 10px;
    font-size: small;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .step .step_card_content i {
    margin-right: 15px;
    color: #7e7e7e;
    font-size: 20px;
  }
  .step .step_card_content .iconPurple {
    color: #9356dc;
  }
  .restaurants {
    background-color: #F6F6F6;
  }
  .restaurants_title {
    padding: 15px 25px 0 25px;
  }
  .restaurants_card {
    width: 90%;
    margin: auto auto 25px auto;
    position: relative;
    z-index: 1;
    height: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .restaurants_card_img img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 231px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
  }
  .restaurants_card_img_text {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    background-color: #99e2d0;
    color: #008766;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 9px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .restaurants_card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .restaurants_card_content_text {
    padding: 5px 5px;
  }
  .restaurants_card_content_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .restaurants_card_content_subtitle {
    margin-top: 5px;
  }
}
@media screen and (min-width: 767.1px) and (max-width: 1024px) {
  .step {
    padding: 0 55px;
  }
  .step_title {
    font-weight: 900;
    font-size: 25px;
    margin-left: 15px;
  }
  .step_container {
    display: flex;
  }
  .step .step_card {
    display: flex;
    padding: 5px 0;
    margin: 15px;
    font-size: medium;
  }
  .step .step_card_number {
    background-color: #9356dc;
    width: 15px;
    padding: 10px;
    text-align: center;
    -webkit-clip-path: circle(40%);
            clip-path: circle(40%);
    color: #fff;
  }
  .step .step_card_content {
    display: flex;
    margin-left: -15px;
    align-items: center;
    padding: 2px 15px;
    font-weight: bold;
    font-size: smaller;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .step .step_card_content i {
    margin: 0 15px;
    color: #7e7e7e;
    font-size: 20px;
  }
  .step .step_card_content .iconPurple {
    color: #9356dc;
  }
  .restaurants {
    background-color: #F6F6F6;
  }
  .restaurants_title {
    padding: 15px 25px 0 25px;
  }
  .restaurants_title {
    font-weight: 900;
    font-size: 25px;
  }
  .restaurants_card {
    position: relative;
    z-index: 1;
    width: 60%;
    margin: auto;
    height: auto;
    margin-bottom: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .restaurants_card_img img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 231px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
  }
  .restaurants_card_img_text {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 2;
    background-color: #99e2d0;
    color: #008766;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 9px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .restaurants_card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .restaurants_card_content_text {
    padding: 5px 15px;
  }
  .restaurants_card_content_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .restaurants_card_content_subtitle {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 180px;
  }
  .step_title {
    font-weight: 900;
    font-size: 25px;
  }
  .step_container {
    display: flex;
  }
  .step .step_card {
    display: flex;
    padding: 5px 0;
    margin: 15px;
    font-size: medium;
  }
  .step .step_card_number {
    background-color: #9356dc;
    width: 15px;
    padding: 10px;
    text-align: center;
    -webkit-clip-path: circle(40%);
            clip-path: circle(40%);
    color: #fff;
  }
  .step .step_card_content {
    width: 322px;
    display: flex;
    margin-left: -15px;
    align-items: center;
    padding: 2px 25px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .step .step_card_content i {
    margin-right: 15px;
    color: #7e7e7e;
    font-size: 20px;
  }
  .step .step_card_content .iconPurple {
    color: #9356dc;
  }
  .restaurants {
    padding: 50px 180px;
    background-color: #F6F6F6;
  }
  .restaurants_title {
    font-weight: 900;
    font-size: 25px;
    margin-left: 15px;
  }
  .restaurants_title {
    font-weight: 900;
    font-size: 25px;
  }
  .restaurants_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .restaurants_card {
    position: relative;
    z-index: 1;
    width: 90%;
    margin: 50px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .restaurants_card_img img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 331px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
  }
  .restaurants_card_img_text {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 2;
    background-color: #99e2d0;
    color: #008766;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 9px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .restaurants_card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .restaurants_card_content_text {
    padding: 5px 15px;
  }
  .restaurants_card_content_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .restaurants_card_content_subtitle {
    margin-top: 5px;
  }
}
.commande {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px auto;
}

.retaurant_header_img {
  width: 100%;
}

@media screen and (max-width: 767.1px) {
  .title {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .title .heart-icon {
    display: flex;
    align-items: center;
  }
  .menu {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .menu_title {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
  }
  .menu_entrees h2, .menu_plats h2, .menu_desserts h2 {
    width: 40px;
    border-bottom: 3px solid #99e2d0;
  }
  .menu_entrees_cards, .menu_plats_cards, .menu_desserts_cards {
    display: flex;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .menu_entrees_cards_content, .menu_plats_cards_content, .menu_desserts_cards_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu_entrees_cards_content_info, .menu_plats_cards_content_info, .menu_desserts_cards_content_info {
    white-space: nowrap;
    width: 100%;
    padding: 10px;
  }
  .menu_entrees_cards_content_info h3, .menu_plats_cards_content_info h3, .menu_desserts_cards_content_info h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
  }
  .menu_entrees_cards_content_info p, .menu_plats_cards_content_info p, .menu_desserts_cards_content_info p {
    margin: 0;
    font-size: 15px;
  }
  .menu_entrees_cards_content_price, .menu_plats_cards_content_price, .menu_desserts_cards_content_price {
    display: flex;
    align-items: flex-end;
    font-size: medium;
    width: 7%;
    padding: 10px;
    font-weight: 900;
    margin-left: -3%;
  }
  .menu_entrees_cards_content_price p, .menu_plats_cards_content_price p, .menu_desserts_cards_content_price p {
    margin: 0;
  }
  .menu_entrees_cards_content_check, .menu_plats_cards_content_check, .menu_desserts_cards_content_check {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: #99e2d0;
    border-left: 1px solid #008766;
    border-radius: 0px 15px 15px 0px;
    width: 0;
    transition: all 0.4s;
  }
  .menu_entrees_cards_content_check i, .menu_plats_cards_content_check i, .menu_desserts_cards_content_check i {
    color: #99e2d0;
    background-color: white;
    border-radius: 32px;
    padding: 5px;
  }
  .menu_entrees_cards_content:hover .menu_entrees_cards_content_check, .menu_entrees_cards_content:hover .menu_plats_cards_content_check, .menu_entrees_cards_content:hover .menu_desserts_cards_content_check, .menu_plats_cards_content:hover .menu_entrees_cards_content_check, .menu_plats_cards_content:hover .menu_plats_cards_content_check, .menu_plats_cards_content:hover .menu_desserts_cards_content_check, .menu_desserts_cards_content:hover .menu_entrees_cards_content_check, .menu_desserts_cards_content:hover .menu_plats_cards_content_check, .menu_desserts_cards_content:hover .menu_desserts_cards_content_check {
    width: 55px;
    opacity: 1;
    margin-right: 0;
  }
  .menu_entrees_cards_content:hover h3 + p, .menu_entrees_cards_content:hover h3, .menu_plats_cards_content:hover h3 + p, .menu_plats_cards_content:hover h3, .menu_desserts_cards_content:hover h3 + p, .menu_desserts_cards_content:hover h3 {
    width: 90%;
    margin-right: -25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu_entrees_cards_content:hover .menu_entrees_cards_content_info, .menu_entrees_cards_content:hover .menu_plats_cards_content_info, .menu_entrees_cards_content:hover .menu_desserts_cards_content_info, .menu_plats_cards_content:hover .menu_entrees_cards_content_info, .menu_plats_cards_content:hover .menu_plats_cards_content_info, .menu_plats_cards_content:hover .menu_desserts_cards_content_info, .menu_desserts_cards_content:hover .menu_entrees_cards_content_info, .menu_desserts_cards_content:hover .menu_plats_cards_content_info, .menu_desserts_cards_content:hover .menu_desserts_cards_content_info {
    margin-right: -15px;
    padding-right: 0;
  }
}
@media screen and (min-width: 767.1px) and (max-width: 1024px) {
  .retaurant_header_img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 380px;
  }
  .title {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .title .heart-icon {
    display: flex;
    align-items: center;
  }
  .menu {
    position: relative;
    width: 80%;
    margin: -50px auto 0 auto;
    z-index: 1;
    background-color: #F6F6F6;
    border-radius: 15px 15px 0 0;
    padding: 3px 15px;
  }
  .menu_title {
    text-align: center;
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
  }
  .menu_entrees h2, .menu_plats h2, .menu_desserts h2 {
    margin-left: 25px;
    width: 50px;
    border-bottom: 3px solid #99e2d0;
  }
  .menu_entrees .title, .menu_plats .title, .menu_desserts .title {
    display: flex;
    justify-content: center;
  }
  .menu_entrees_cards, .menu_plats_cards, .menu_desserts_cards {
    display: flex;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .menu_entrees_cards_content, .menu_plats_cards_content, .menu_desserts_cards_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu_entrees_cards_content_info, .menu_plats_cards_content_info, .menu_desserts_cards_content_info {
    white-space: nowrap;
    width: 100%;
    padding: 10px;
  }
  .menu_entrees_cards_content_info h3, .menu_plats_cards_content_info h3, .menu_desserts_cards_content_info h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
  }
  .menu_entrees_cards_content_info p, .menu_plats_cards_content_info p, .menu_desserts_cards_content_info p {
    margin: 0;
    font-size: 15px;
  }
  .menu_entrees_cards_content_price, .menu_plats_cards_content_price, .menu_desserts_cards_content_price {
    display: flex;
    align-items: flex-end;
    width: 2%;
    padding: 10px;
    font-weight: 900;
  }
  .menu_entrees_cards_content_price p, .menu_plats_cards_content_price p, .menu_desserts_cards_content_price p {
    margin: 0;
  }
  .menu_entrees_cards_content_check, .menu_plats_cards_content_check, .menu_desserts_cards_content_check {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin-right: -30px;
    background-color: #99e2d0;
    border-left: 1px solid #008766;
    border-radius: 0px 15px 15px 0px;
    width: 55px;
    transition: all 0.5s;
  }
  .menu_entrees_cards_content_check i, .menu_plats_cards_content_check i, .menu_desserts_cards_content_check i {
    color: #99e2d0;
    background-color: white;
    border-radius: 32px;
    padding: 5px;
  }
  .menu_entrees_cards_content:hover .menu_entrees_cards_content_check, .menu_entrees_cards_content:hover .menu_plats_cards_content_check, .menu_entrees_cards_content:hover .menu_desserts_cards_content_check, .menu_plats_cards_content:hover .menu_entrees_cards_content_check, .menu_plats_cards_content:hover .menu_plats_cards_content_check, .menu_plats_cards_content:hover .menu_desserts_cards_content_check, .menu_desserts_cards_content:hover .menu_entrees_cards_content_check, .menu_desserts_cards_content:hover .menu_plats_cards_content_check, .menu_desserts_cards_content:hover .menu_desserts_cards_content_check {
    opacity: 1;
    margin-right: 0;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .retaurant_header_img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 380px;
  }
  .title {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .title .heart-icon {
    display: flex;
    align-items: center;
  }
  .menu {
    position: relative;
    width: 70%;
    margin: -50px auto 0 auto;
    z-index: 1;
    background-color: #F6F6F6;
    border-radius: 15px 15px 0 0;
    padding: 3px 15px;
  }
  .menu_title {
    text-align: center;
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
  }
  .menu_entrees h2, .menu_plats h2, .menu_desserts h2 {
    margin-left: 25px;
    width: 50px;
    border-bottom: 3px solid #99e2d0;
  }
  .menu_entrees .title, .menu_plats .title, .menu_desserts .title {
    display: flex;
    justify-content: center;
  }
  .menu_entrees_cards, .menu_plats_cards, .menu_desserts_cards {
    display: flex;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .menu_entrees_cards_content, .menu_plats_cards_content, .menu_desserts_cards_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu_entrees_cards_content_info, .menu_plats_cards_content_info, .menu_desserts_cards_content_info {
    white-space: nowrap;
    width: 100%;
    padding: 10px;
  }
  .menu_entrees_cards_content_info h3, .menu_plats_cards_content_info h3, .menu_desserts_cards_content_info h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
  }
  .menu_entrees_cards_content_info p, .menu_plats_cards_content_info p, .menu_desserts_cards_content_info p {
    margin: 0;
    font-size: 15px;
  }
  .menu_entrees_cards_content_price, .menu_plats_cards_content_price, .menu_desserts_cards_content_price {
    display: flex;
    align-items: flex-end;
    width: 1%;
    padding: 10px;
    font-weight: 900;
  }
  .menu_entrees_cards_content_price p, .menu_plats_cards_content_price p, .menu_desserts_cards_content_price p {
    margin: 0;
  }
  .menu_entrees_cards_content_check, .menu_plats_cards_content_check, .menu_desserts_cards_content_check {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin-right: -30px;
    background-color: #99e2d0;
    border-left: 1px solid #008766;
    border-radius: 0px 15px 15px 0px;
    width: 55px;
    transition: all 0.5s;
  }
  .menu_entrees_cards_content_check i, .menu_plats_cards_content_check i, .menu_desserts_cards_content_check i {
    color: #99e2d0;
    background-color: white;
    border-radius: 32px;
    padding: 5px;
  }
  .menu_entrees_cards_content:hover .menu_entrees_cards_content_check, .menu_entrees_cards_content:hover .menu_plats_cards_content_check, .menu_entrees_cards_content:hover .menu_desserts_cards_content_check, .menu_plats_cards_content:hover .menu_entrees_cards_content_check, .menu_plats_cards_content:hover .menu_plats_cards_content_check, .menu_plats_cards_content:hover .menu_desserts_cards_content_check, .menu_desserts_cards_content:hover .menu_entrees_cards_content_check, .menu_desserts_cards_content:hover .menu_plats_cards_content_check, .menu_desserts_cards_content:hover .menu_desserts_cards_content_check {
    opacity: 1;
    margin-right: 0;
    margin-left: 15px;
  }
}
@keyframes full-heart {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */