@import "../abstracts/colors";
@import "./typography";


body {
    padding: 0;
    margin: 0;
    background-color: $white;
    font-family: $fontText;

    .main-container{
        margin: 0 15px;
    }

    
}
