@import "../abstracts/colors";
@import "./typography";


body {
    padding: 0;
    margin: 0;
    background-color: $white;
    font-family: $fontText;

    a{
        text-decoration: none;
        color: black;
    }
    
}
